<p style="color: green"><%= notice %></p>

<h1 >Simple CRUD</h1>

<div id="articles">
  <% @articles.each do |article| %>
    <%= render article %>
    <p>
      <%= link_to "Show this CRUD", article %>
    </p>
  <% end %>
</div>

<%= link_to "New crud ", new_article_path %>
