<div id="<%= dom_id sekolah %>">
  <p>
    <strong>Title:</strong>
    <%= sekolah.title %>
  </p>

  <p>
    <strong>Jurusan:</strong>
    <%= sekolah.jurusan %>
  </p>

  <p>
    <strong>Alamat:</strong>
    <%= sekolah.alamat %>
  </p>

</div>
